<!-- <footer class="page-footer container-fluid">
    <div class="container">

    </div>
    <div class="footer-copyright">
        <div class="container equipe">
            <h2>Equipe</h2>
        </div>
        <div class="container servicos">
            <h2>Serviços</h2>
        </div>
        <div class="container social">
            <h2>Redes Sociais</h2>
        </div>
        <div class="container contato">
            <h2>Contato</h2>
        </div>
    </div>

    <div class="logoFooter">
        <img src="../assets/img/logoPrefBlu.png" alt="">
    </div>
</footer> -->

<footer class="page-footer container-fluid text-white">
    <div class="row pt-5 pb-5">
        <section class="col-md-4">
            <h3>Equipe</h3>
            <ul>
                <p>Rafael Phillipe de Oliveira</p>
                <p>Diretor de Apoio ao Empreendedor</p>
                <p>diretorpracadoempreendedor@blumenau.sc.gov.br</p>
                <p>(47) 3381-7981 | 99997-4091</p>
                
            </ul>
        </section>

        <section class="col-md-2 servico">
            <h3>Serviços</h3>
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link"href="#">Instituiçoes</a></li>
                <li class="nav-item"><a class="nav-link"href="#">Financeiras</a></li>
                <li class="nav-item"><a class="nav-link"href="#">Serviços Diversos</a></li>
                <li class="nav-item"><a class="nav-link"href="#">Ultilidade Pública</a></li>
                <li class="nav-item"><a class="nav-link"href="#">Trebalhe conosco</a></li>
            </ul>
        </section>

        <section class="col-md-2">
            <h3>Redes Sociais</h3>
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link"href="#">Facebook</a></li>
                
                <li class="nav-item"><a class="nav-link"href="#">Instagram</a></li>
                
            </ul>
        </section>

        <section class="col-md-3">
            <h3>Contato</h3>
            <ul class="nav flex-column">
                <p>pracadoempreendedor@blumenau.sc.gov.br</p>
                
                <li class="nav-item"><a class="nav-link" href="tel:+554733817981"> Tel.: (47) 3381.7981</a></li>
                
                <li class="nav-item"><a class="nav-link" href="https://api.whatsapp.com/send?phone=554733817982&text=Quero%20mais%20informações%20sobre%20abertura%20MEI"> Tel: (47) 3381.7982</a></li>
            </ul>

            <div class="logoFooter">
                <img src="../assets/img/logoPrefBlu.png" alt="">
            </div>
        </section>
    </div>
</footer>