
.page-footer{
    background-color: #002774;
    margin-top: 25px;
}

.page-footer h3{
    margin: 3px;
    margin-bottom: 40px;
    color: #92989F;
    font-size: 20px;
}

.page-footer a{
    text-decoration: none!important;
    color: white;
   
}

footer .social-icon{
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social-icon li{
    list-style: none;
    
}

footer .social-icon li a {
    font-size: 2em;
    color: white!important;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social-icon li a:hover{
    transform: translateY(-10px);
}
#iconZap{
    width: 20px;
    
}
