
<div class="container text-center bannerHome">
    <div class="row">
      <div class="col infoBanner">
            <ul class="list-group">
                <p class="text-md-start fs-6 m-3">Informações para abertura de empresas;</p>
                <p class="text-md-start fs-6 m-3">Formalização de microempreendedores individuais;</p>
                <p class="text-md-start fs-6 m-3">Protocolo para inclusão, alteração e baixa de empresas;</p>
                <p class="text-md-start fs-6 m-3">Orientação e auxílio nos processos licitatórios;</p>
                <p class="text-md-start fs-6 m-3">Auxílio na emissão de notas fiscais;</p>
                <p class="text-md-start fs-6 m-3">Cadastros de fornecedores;</p>
                <p class="text-md-start fs-6 m-3">Cursos e capacitações;</p>
                <p class="text-md-start fs-6 m-3">Emissão de alvarás;</p>
                <p class="text-md-start fs-6 m-3">Emissão de guias.</p>
            </ul>

            <p></p>
        </div>
      <div class="col imgBanner">
        <!-- <img [src]="imgBanner" alt=""> -->
        <img class="img-fluid" src="../assets/img/imgBanner.svg" alt="">
      </div>
    </div>
</div>



<div id="carouselExampleCaptions" class="carousel slide bannerCarousel">
    <h2 class="tituloCarousel" id="tituloCarousel">PASSO A PASSO para abrir sua empresa</h2>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/img/mei-1.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color:rgb(13, 155, 0); background-color: white; font-size: 30px;">Passo 1. Para abrir um MEI</h5>
          <p style="color:black; background-color: white; font-size: 20px;">Acesse o Portal do Empreendedor do Governo Federal (gov.br/empresas-e-negocios/pt-br/empreendedor) e vá em “Quero ser MEI”;</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/img/mei-2.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color:rgb(13, 155, 0); background-color: white; font-size: 30px;">Passo 2</h5>
          <p style="color:black; background-color: white; font-size: 20px;">Na página "Microempreendedor Individual", escolha a opção “Formalize-se”;</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/img/mei-3.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color:rgb(13, 155, 0); background-color: white; font-size: 30px;">Passo 3</h5>
          <p style="color:black; background-color: white; font-size: 20px;">Faça login com sua conta Gov.br e prossiga em “Continuar”;</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/img/mei-4.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color:rgb(13, 155, 0); background-color: white; font-size: 30px;">Passo 4</h5>
          <p style="color:black; background-color: white; font-size: 20px;">Nesta etapa, digite sua senha e prossiga no botão “Entrar”;</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/img/mei-5.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color:rgb(13, 155, 0); background-color: white; font-size: 30px;">Passo 5</h5>
          <p style="color:black; background-color: white; font-size: 20px;">Digite o número do seu Título de Eleitor no campo indicado e pressione o botão “Continuar”;</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/img/mei-6.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color:rgb(13, 155, 0); background-color: white; font-size: 30px;">Passo 6</h5>
          <p style="color:black; background-color: white; font-size: 20px;">Visualize os seus dados pessoais preenchidos automaticamente na tela de cadastro;</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<section class="section-3">
<div class="area-title-2">
    <h1>Aqui temos um vídeo explicativo de como abrir seu MEI de GRAÇA!</h1> <h3></h3> 
        
        
    </div>
    <div class="area-video">
    <h4>Clique no Play e confere esse video explicativo:</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/wMUS4gGklgY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</section>

<form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label" id="newsletter"><h2>INSCREVA-SE NA NOSSA NEWSLETTER</h2></label>
      
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu endereço de e-mail…">
      <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="mb-3 form-check">
      <label class="form-check-label" for="exampleCheck1">E esteja sempre atualizado com as últimas novidades e notícias</label>
    </div>
    <button type="submit" class="btn btn-primary" id="colorButton">Inscreva-se</button>
  </form>

<section class="section-5">
    <div class="area-mapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d113873.11727025984!2d-49.1388088055473!3d-26.886513733030856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x94df1f3c5c851617%3A0xe5044b89f043b28a!2sVia%20Expressa%20-%20Rodovia%20Paul%20Fritz%20Kuehnrich%2C%201600%20-%20Itoupava%20Norte%2C%20Blumenau%20-%20SC%2C%2089052-050!3m2!1d-26.886530999999998!2d-49.0687685!5e0!3m2!1spt-PT!2sbr!4v1678733059576!5m2!1spt-PT!2sbr" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="titulo-mapa">
        <h1>ENDEREÇO:</h1>
        <p>Via Expressa - Rodovia Paul Fritz Kuehnrich, 1600</p>
        <p>Itoupava Norte</p>
        <p>Blumenau - SC, 89052-050</p>
    </div>
</section>
