
<div class="container text-center bannerHome">
    <div class="row">
      <div class="col-md-6 infoBanner">
            <ul class="list-group">
                <p class="text-md-start fs-6 m-3" style="font-weight: 800;">Aqui nessa página você poderá obter...</p>
                <p class="text-md-start fs-6 m-3">- Informações para abertura de empresas MEI;</p>
                <p class="text-md-start fs-6 m-3">- Terá acesso a um pré cadastro, onde poderá realizar uma consunta se estará apto abrir um MEI;</p>
                <p class="text-md-start fs-6 m-3">- Ajuda para criação seu acesso ao portal gov.br;</p>
                <p class="text-md-start fs-6 m-3">- Dicas sobre mundo empreendorismo;</p>
                <p class="text-md-start fs-6 m-3">- Formalização de microempreendedores individuais;</p>
                <p class="text-md-start fs-6 m-3">- E agendamento com nossa equipe que irá te auxiliar em dúvidas posteriores;</p>
            </ul>
        </div>
      <div class="col-md-6 imgBanner">
        <!-- <img [src]="imgBanner" alt=""> -->
        <img class="img-fluid" src="../assets/img/imgBanner.svg" alt="">
      </div>
    </div>
</div>

<h2 class="tituloCarousel" id="tituloCarousel">PASSO A PASSO para abrir sua empresa</h2>
<figure class="figure foto">
  <figcaption class="figure-caption"><p id="pFigure"> PASSO 01 - Acesse o Portal do Empreendedor do Governo Federal (gov.br/empresas-e-negocios/pt-br/empreendedor) e vá em “Quero ser MEI”;</p></figcaption>
  <img src="../assets/img/mei-1.webp" class="figure-img img-fluid rounded" alt="...">
  
</figure>


<figure class="figure foto">
  <figcaption class="figure-caption"><p id="pFigure"> PASSO 02 - Na página "Microempreendedor Individual", escolha a opção “Formalize-se”</p></figcaption>
  <img src="../assets/img/mei-2.webp" class="figure-img img-fluid rounded" alt="...">
  
</figure>


<figure class="figure foto">
  <figcaption class="figure-caption"><p id="pFigure"> PASSO 03 - Faça login com sua conta Gov.br e prossiga em “Continuar”;</p></figcaption>
  <img src="../assets/img/mei-3.webp" class="figure-img img-fluid rounded" alt="...">
  
</figure>


<figure class="figure foto">
  <figcaption class="figure-caption"><p id="pFigure"> PASSO 04 - Nesta etapa, digite sua senha e prossiga no botão “Entrar”;</p></figcaption>
  <img src="../assets/img/mei-4.webp" class="figure-img img-fluid rounded" alt="...">
  
</figure>

<figure class="figure foto">
  <figcaption class="figure-caption"><p id="pFigure"> PASSO 05 - Digite o número do seu Título de Eleitor no campo indicado e pressione o botão “Continuar”</p></figcaption>
  <br>
  <img src="../assets/img/mei-5.webp" class="figure-img img-fluid rounded" alt="...">
  
</figure>

<figure class="figure foto">
  <figcaption class="figure-caption"><p id="pFigure"> PASSO 06 - Visualize os seus dados pessoais preenchidos automaticamente na tela de cadastro;</p></figcaption>
  <br>
  <img src="../assets/img/mei-6.webp" class="figure-img img-fluid rounded" alt="...">
  
</figure>


  <div class="row area-video">
    <div class="col-md-6">
      <div class="area-title-2">
        <h1>Aqui temos um vídeo explicativo de como abrir seu MEI de GRAÇA!</h1>
        </div>
    </div>
    <div class="col-md-6">
      <div class="area-video">
        <h4>Clique no Play e confere esse video explicativo:</h4>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/wMUS4gGklgY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
  </div>

<form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label" id="newsletter"><h2>INSCREVA-SE NA NOSSA NEWSLETTER</h2></label>
      
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu endereço de e-mail…">
      <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="mb-3 form-check">
      <label class="form-check-label" for="exampleCheck1">E esteja sempre atualizado com as últimas novidades e notícias</label>
    </div>
    <button type="submit" class="btn btn-primary" id="colorButton">Inscreva-se</button>
  </form>

 
