
<div class="mx-2">
    <div class="container">
      <div class="text-center pt-5">
        <h3 class="my-4 mt-5" id="titleNewsletter">Receba nossas notícias!</h3>
      </div>
      <div class="formulario p-4 border rounded">
        <form onsubmit="">
          <div class="mb-3">
            <label for="nome">Nome</label>
            <input id="nome" type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label for="email">Email</label>
            <input id="email" type="email" class="form-control">
          </div>
          <div class="mb-3">
            <label for="telefone">Telefone para contato</label>
            <input id="telefone" type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label for="endereco">Endereço</label>
            <input id="endereco" type="text" class="form-control">
          </div>
          <button type="submit" class="btn btn-success" onclick="alert('seus dados foram gravados com sucesso!');">Enviar</button>
        </form>
      </div>
    </div>
</div>