<div class="container-fluid" id="moduloCadastro">    
    <div class="row">
        <div class="col-sm">
            <form id="formAnimal" class="row g-3 mb-4">
                <div class="col-md-12">
                    <label for="ocupacoes" class="form-label">Ocupações permitidas</label>
                    <select type="text" ngModel name="ocupacoes" class="form-control" required>
                        <option></option>
                        <option id="op">4732-6/00 - COMERCIANTE DE LUBRIFICANTES INDEPENDENTE</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label for="tetoAnual" class="form-label">Teto anual orçado</label>
                    <input type="text" ngModel name="tetoAnual" class="form-control" id="tetoAnual">                    
                </div>
                
                <div class="col-md-3">
                    <label for="previsaoCustos" class="form-label">Previsão de custos</label>
                    <input type="text" ngModel name="previsaoCustos" class="form-control" id="previsaoCustos">
                </div>

                <div class="col-md-3">
                    <label for="nrContratacoes" class="form-label">Contratações previstas</label>
                    <input type="text" ngModel name="nrContratacoes" class="form-control" id="nrContratacoes">
                </div>        
               
                <div  class="col-md-3">
                    <label for="nrFiliais" class="form-label">Filiais</label>
                    <select type="text" ngModel name="nrFiliais" class="form-control" id="nrFiliais">
                        <option></option>
                        <option>0</option>
                    </select>              
                </div>
        
                <div  class="col-md-6">
                    <label for="tipoPelPlumAnimal" class="form-label">Benefícios previdenciários</label>
                    <select type="text" ngModel name="tipoPelPlum" class="form-control" id="tipoPelPlumAnimal">
                        <option></option>
                        <option>Aposentadoria por invalidez</option>
                    </select> 
                </div>
        
                <div  class="col-md-6">
                    <label for="tratamentoAnimal" class="form-label">Benefícios assistencialistas</label>
                    <select type="text" ngModel name="tratamento" class="form-control" id="tratamentoAnimal">                        
                        <option></option>
                        <option>Seguro Desemprego</option>
                    </select>
                </div>
                
                <div class="col-8" id="botaoSubmit">
                    <button class="btn btn-primary">Enviar</button>  
                </div>
            </form>
        </div>      
    </div>
    <!--
    <div class="row">
        <div id="tabelaAnimais">
            <h2>Listagem de Animais</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">            
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nome do animal</th>
                        <th scope="col">Espécie</th>
                        <th scope="col">Peso</th>
                        <th scope="col">Altura</th>
                        <th scope="col">Raça</th>
                        <th scope="col">Pelagem/Plumagem</th>
                        <th scope="col">Tratamento</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>
                            <button class="btn btn-warning">Editar</button> 
                            <button class="btn btn-danger btn-block">Deletar</button>
                        </td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    -->
</div>    



