/* CONFIGURAÇÕES RELACIONADAS A TABELA DE ANIMAIS CADASTRADOS */
#moduloCadastro{
    color: var(--blue);
    padding-top: 50px;
}

  /* CONFIGURAÇÕES RELACIONADAS A PÁGINA DE CADASTRO*/
  
  #botaoSubmit{
    padding-top: 10px;
  }
  
  .btn {
    width: 80px;
  }
  
  #tabelaAnimais {
    padding-top: 50px;
    font-size: 30px;
    padding-bottom: 30px;
  }

  .table{
    color:var(--blue);  
    border: 2px solid var(--blue);
  }

  #containerCnae{
    overflow:auto; 
    height:50vh; 
    width: 80vw; 
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
  }