<!-- <h1>Sobre nós!</h1> -->
<div class="container sobre">
    <h1 class="text-center sobreNos paddingTopSobre mt-5" style="color: #002774;;">Sobre nós</h1>
    <div class="row mx-1">
      <div class="col-md-12">
        <!-- Introdução -->
        <!-- <h3 class="tituloSobre mt-4">Pipe2Brains</h3> -->
        <p class="card-text">Somos a <strong>Pipe2Brains</strong> , grupo formado no Devs2Blu para contribuir na aceleração de abertura de empresa. Escolhemos esse desafio por acreditar ser um desafio enriquecedor
            e por mais que parecesse simples, existia muito mais pecularidades na prática e problemas enfretados pelos atendentes que lidam diariamente com pessoas desinformadas.
            Nosso maior objetivo é tentar disseminar conteúdo, tentando fazer todos aquelas pessoas que querem ser MEI realmente tenha conhecimento do que é ser MEI ,e, se ela se enquadra nessa categoria. 
        </p>
      </div><!-- col-md-12 -->
    </div><!-- row mx-1 -->
</div>
<div class="container-fluid">
    <div class="row mx-1 mb-5">
      <h2 class="tituloSobre my-4">Nosso Time</h2>
      <div class="col-md-4 text-center">
        <img alt="" src="../assets/img/fotoMaria.png" class="rounded-circle my-3" width="150" height="200" />
        <p><strong>Maria Eugenia</strong></p>

      </div><!-- col-md-3 text-center -->
      <div class="col-md-4 text-center">
        <img src="../assets/img/fotoEmily.jpeg" class="rounded-circle my-3" width="150"  height="200" />
        <p><strong>Emylli</strong></p>

      </div><!--col-md-3 text-center -->
      <div class="col-md-4 text-center">
        <img alt="" src="../assets/img/fotoCristiano.jpeg" class="rounded-circle my-3" width="150" height="200" />
        <p><strong>Cristiano</strong></p>
      </div><!--col-md-3 text-center -->

    <div class="row mx-1 mb-5">
    <div class="col-md-4 text-center">
      <img alt="foto perfil " src="../assets/img/fotoMarlon.jpeg" class="rounded-circle my-3" width="150"  height="200" />
      <p><strong>Marlon</strong></p>
    </div><!-- col-md-3 text-center -->

    <div class="col-md-4 text-center">
      <img alt="foto perfil " src="../assets/img/fotoCarlos.png" class="rounded-circle my-3" width="150" height="200" />
      <p><strong>Carlos</strong></p>
    </div><!-- col-md-3 text-center -->

   <div class="col-md-4 text-center">
          <img alt="foto perfil " src="../assets/img/fotoRafael.jpeg" class="rounded-circle my-3" width="150" height="200" />
   <p><strong>Rafael</strong>
  </div><!-- col-md-3 text-center -->
    </div>
      </div>
</div>

