.sobreNos {
    padding: 4vh 0 2vh 0 !important;
    margin-top:80px !important;
 }
 .tituloNb{
     margin-top: 2vh;
 }

 .sobre p{
    line-height: 25px; 
    text-align: justify;
 }
 .sobre strong{
    color:#07479C;
    font-weight: 800;
 }
 .tituloSobre{
    color:#07479C;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

 }