<div class="mx-2 mb-5 pt-5 ">
    <div class="container">
      <h3 class="text-center my-4 mt-5" id="titleContato">Contato</h3>
      <form action="" class="row">
        <div class="formulario p-4 border rounded">
          <div class="mb3">
            <label for="nome" class="form-label">Informe seu nome</label>
            <input type="text" id="nome" name="nome" class="form-control" required placeholder="Insira seu nome completo...">
          </div>

          <div class="mb3">
            <label for="email" class="form-label">Informe seu E-mail</label>
            <input type="email" id="email" name="email" class="form-control" required placeholder="Insira seu melhor E-mail...">
          </div>

          <div class="mb3">
            <label for="exampleFormControlTextarea1" class="form-label">Digite sua mensagem</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Deixe aqui seus comentários e elogios ou dúvidas que nossa equipe retornará o mais breve possivel."></textarea>

          </div>
          <div class="text-center mt-2">
            <button type="button" class="btn btn-success">Enviar</button>
          </div>
        </div>
        <div class=" embed-responsive mb3 mt-4">
          <div class="mapa">
          <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1XgcoOK-3m0Of_RK3Afi6iAqnLBNS-HU&ehbc=2E312F" 
            width="100%" height="400vh"></iframe> <div class="endereco" style="display:inline-block"> <span>Localizado em: Shopping Park Europeu
            
              <div class="embed-responsive mb3 mt-4 titulo-mapa">
                  <h1>ENDEREÇO:</h1>
                  <p>Via Expressa - Rodovia Paul Fritz Kuehnrich, 1600</p>
                  <p>Itoupava Norte</p>
                  <p>Blumenau - SC, 89052-050</p>
              </div>
              
            